.ios_hover {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

body {
    display: grid;
    grid-template: 100px 74px 1fr 130px/ 0px 1fr 0px;
    margin: 0px;
    opacity: 1;
    min-height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    scroll-behavior: smooth;
}

.shadow {
    grid-area: 1/2/5/3;
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.3);
    z-index: -99999;
}

header{
    grid-area: 1/2/2/3;
    height: 100px;
    list-style-type: none;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 99997;
    background-color: rgba(255, 255, 255, 1);
}

nav {
    background-color: transparent;
    height: 60px;
    color: #339b87;
    display: flex;
    flex-wrap: nowrap;
    list-style-type: none;
    justify-content: center;
    
}

nav li {
    padding: 0px 12px;
    line-height: 56px;
    transition: all 0.25s;
}

nav img {
    padding: 21px;
    padding-left: 0px;
    padding-right: 16px;
}

nav li a {
    all: unset;
    cursor: pointer;
    display: block;
    background: transparent;
    text-align: center;
    font-size: 16.5px;
    height: 56px;
    width: 100%;
    font-weight: 600;
}

nav li:hover  {
    cursor: pointer;
    border-bottom: 4px solid #339b87;
    background-color: rgba(0, 0, 0, 0.05);
}

.user-label {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 3.5px;
}

.title {
    grid-area: 2/2/3/3;
    background-color: white;
    margin: 0px 34px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.title-items {
    width: 100%;
    height: 45px;
    font-weight: bold;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: bottom;

}

.title h1 {
    margin: 0px;
    
    font-size: 33px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    
}

.title-icons {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 7.5px 6px;
    width: 70px;
}

article {
    background-color: white;
    grid-area: 3/2/4/5;
    padding: 0px 20px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
}

aside {
    grid-area: 3/4/4/5;
    background-color: white;
    display: none;
}

aside h3 {
    margin: 0px;
}

hr {
    height: 1px;
    background-color: #CECCCE;
    border: 0px;
    border-radius: 2px;
    margin:  0px auto;
    margin-bottom: 20px;
    width: 100%;
}

.right-nav {
    margin: auto 0px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.right-nav img {
    margin-right: 4px;
}

.login-button {
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    vertical-align: top;
    /* width: 72px; */
    height: 26px;
    font-size: 17px;
    color: #fff;
    text-align: center;
    background: #3B4144;
    border: 0;
    cursor: pointer;
    border-radius: 21px;
    font-weight: 400;
    font-family: 'Source Sans Pro', sans-serif;
    margin-left: 12px;
    padding: 0px 12px;
}

.logout-button {
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    vertical-align: top;
    width: 72px;
    height: 26px;
    font-size: 17px;
    color: #fff;
    text-align: center;
    background: #3B4144;
    border: 0;
    cursor: pointer;
    border-radius: 21px;
    font-weight: 400;
    font-family: 'Source Sans Pro', sans-serif;
    margin-left: 12px;
}

.search-input {
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    vertical-align: top;
    width: 150px;
    height: 26px;
    font-size: 17px;
    color: black;
    text-align: left;
    padding-left: 12px;
    border: 0;
    cursor: pointer;
    border-radius: 21px;
    font-weight: 400;
    font-family: 'Source Sans Pro', sans-serif;
    border: 0.5px solid #CECCCE;
    margin-left: 4px;
}

.search-input:hover {
    
}

.big-photo-block {
    display: flex;
    flex-wrap: wrap;
    border-radius: 25px;
    width: 100%;
    max-width: 265px;
    margin: 0px 15px;
    margin-bottom: 34px;
    height: -webkit-min-content;
    height: min-content;
    border: 0.5px solid #ceccce;
    padding: 18px 23px;
    transition: all 0.5s; 
    
}

.big-photo-block:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.photo-block-left {
    /* background-color: green; */
    height: 100%;
    width: 100%;
    padding: 0px 4px;
}

.photo-block-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: -webkit-min-content;
    height: min-content;
}

.photo-block-header h3 {
    font-size: 24px;
}

.photo-block-header-text {
    height: 100%;
    /* background-color: red; */
}

.photo-block-header-text img {
    padding-top: 5px;
}

.photo-block-header-download {
    width: 21px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.photo-block-header-download img {
    padding-top: 4px;
}

.preview-photo {
    width: 100%;
    border-radius: 15px;
    margin: 25px 0px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    transition: all 0.5s; 
    border: 0.5px solid #CECCCE;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    transform: scale(1);
}

.preview-photo:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: 0px solid #c2c2c2;
    transform: scale(1.07);
}
.photo-block-right {
    display: none;
}

.preview-block {
    grid-area: 2/2/4/5;
    background-color: white;
}

.vr {
    height: 100%;
    width: 1.5px;
    background-color: #CECCCE;
    border: 0;
    border-radius: 2px;
    margin: 0px 23px;
    display: none;
}

.small-photo-block {
    display: flex;
    flex-wrap: wrap;
    border-radius: 25px;
    width: 100%;
    min-width: 240px;
    max-width: 240px;
    margin: 34px;
    margin-top: 0px;
    height: -webkit-min-content;
    height: min-content;
    border: 0.5px solid #CECCCE;
    padding: 18px 23px;
    transition: all 0.5s; 

}

.small-photo-block:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

h3 {
    margin: 0px;
    margin-left: 4px;
    margin-top: 1.5px;
    display: inline-block;
    vertical-align: top;
    font-size: 140%;
    
}

.author {
    color: #339b87;
    margin: 2px 0px;
    font-size: 16.5px;
    font-weight: 600;
}

.date {
    color: #c2c2c2;
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}

.description {
    color: #646464;
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    margin: 18px 0px;
    height: 190px;
    width: 100%;
    border-radius: 22px;
    /* background-color: red; */
    white-space: pre-wrap;
}

.hashtag {
    -webkit-appearance: none;
    appearance: none;
    display: inline-block;
    vertical-align: top;
    width: min-content;
    height: 23px;
    font-size: 17.5px;
    color: #fff;
    text-align: center;
    border: 0;
    cursor: pointer;
    border-radius: 22px;
    font-weight: 400;
    font-family: 'Source Sans Pro', sans-serif;
    margin-right: 5px;
    padding: 0px 10px;
    border: 0.5px solid #CECCCE;
    /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2); */
}

.location-label {
    margin-top: 15px;
}

.location-text {
    margin-left: 4px;
    display: inline-block;
    vertical-align: top;
    color: #646464;
    font-size: 16.5px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    color: gray;
}

footer {
    grid-area: 4/2/5/3;
    background-color: white;
    padding: 0px 50px;
}

footer p {
    margin: 4px 0px;
    color: #646464;
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    width: 100%;
    text-align: center;
}

.footer-title {
    margin: 6px 0px;
    color: #646464;
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    width: 100%;
    text-align: center;
}

.big_display {
    visibility: hidden;
    width: 0px;
    height: 0px;
}

.small_display {
    visibility: unset;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

#add-photo-block {
    display: flex;
    flex-wrap: wrap;
    border-radius: 25px;
    width: 40%;
    min-width: 265px;
    max-width: 200px;
    height: 0px;
    border: 0.5px solid #CECCCE;
    padding: 0px;
    transition: all 0.5s; 
    justify-content: center;
    margin: 0px;
    visibility: hidden;
    opacity: 0;
}

#add-photo-block:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

#add-photo-button {
    all:unset; 
    background-image:url(/images/add_image.png); 
    background-size: 30px; 
    width:30px; 
    height: 30px; 
}

#user-folder-button {
    all:unset; 
    background-image:url(/images/user_images.png); 
    background-size: 30px; 
    width:30px; 
    height: 30px; 
}

#add-photo-block .photo-block-right .photo-block-right-header .description {
    border-radius: 22px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.025);
    border: hidden;
    resize: none;
}

#add-photo-block .photo-block-left .photo-block-header .author {
    width:100%;
    border-radius: 22px;
    padding: 5px 15px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.025);
    border: hidden;
    margin-bottom: 0px;
    resize: none;
    margin-right: 15px;
}

#add-photo-block .photo-block-left .photo-block-header .photo-block-header-text .photo-name {
    width:85%;
    border-radius: 22px;
    padding: 5px 15px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.025);
    border: hidden;
    resize: none;
    color: black;
    margin: 2px 15px;
    font-size: 15.8px;
    font-weight: 700;
}

#add-photo-block .photo-block-left .photo-block-header img {
    padding: 0px;
}

#add-photo-block .photo-block-left .photo-block-header .date {
    margin: 10px 0px;
    resize: none;
}

#add-photo-block .photo-block-left .photo-block-header .photo-block-header-download {
    margin-top: 6px;
}

#upload-photo-field {
    background-color:lightgray;
    border: 2px solid lightgray;
    border-style: dashed;
    width: 100%;
    border-radius: 15px;
    margin: 25px 0px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    transition: all 0.5s; 
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

#upload-photo-field:hover {
    border: 2px solid gray;
    border-style: dashed;
}

#upload-photo-field.error {
    border: 2px solid brown;
    border-style: dashed;
}

#upload-photo-field.drop {
    border: 2px solid #339b87;
    border-style: dashed;
}

#upload-photo-input {
    outline:0;
    opacity:0;
    pointer-events:none;
    user-select:none;
    width: 100%;
}

.label {
    width: 80%; 
    height: 150px;
    border-radius: 15px;
    border:2px dashed grey;
    display:block;
    padding:1.2em;
    transition:border 300ms ease;
    cursor:pointer;
    text-align:center;
    background-image:url(/images/add_image.png); 
    background-size: 25%; 
    opacity: 0.5;
    background-position: center;
    background-repeat: no-repeat;
}


#upload-title {
    padding: 0px 20px;
}

#add-photo-field {
    width: 100%; 
    display:flex; 
    justify-content: center;
    
}

#upload-form-name {
    width: 100%;
    display: flex;
    margin-bottom: 0px;
}

#upload-form-author {
    width: 100%;
    display: flex;
    margin: 7.5px 0px;
}

#upload-photo-button {
    all: unset;
    background-image:url(/images/upload_icon.png); 
    width: 22px; 
    height: 22px;
    background-size: 20px; 
    background-repeat: no-repeat;
}

#upload-input-name {
    width:100%;
    border-radius: 22px;
    padding: 5px 15px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.025);
    border: hidden;
    resize: none;
    color: black;
    margin: 2px 15px;
    font-size: 16px;
    font-weight: 600;
    margin-right: 15px;
    font-family: 'Source Sans Pro', sans-serif;
}

#upload-input-author {
    color: #339b87;
    margin: 2px 0px;    
    font-size: 16.8px;
    font-weight: 600;
    width:100%;
    border-radius: 22px;
    padding: 5px 0px;
    padding-bottom: 0px;
    
    /* background-color: rgba(0, 0, 0, 0.025); */
    border: hidden;
    margin-right: 0px;
    margin-bottom: 0px;
    resize: none;
    font-family: 'Source Sans Pro', sans-serif;
}

#upload-input-description {
    border-radius: 22px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.025);
    border: hidden;
    resize: none;
    color: #646464;
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    width: 100%;
    margin: 18px 0px;
    height: 190px;
    /* background-color: red; */

}

.blur-header {
    grid-area: 1/2/2/5;
    height: 100px;
    /* backdrop-filter: -webkit-blur(12px);
    backdrop-filter: blur(12px); */
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 99996;
    border-bottom: 0.5px solid #CECCCE;
}

.page-label {
    width: 100%;
    margin: 10px 0px;
    display: flex;
    justify-content: space-around;
}

.hashtag-label {
    width: 100%;
}

form {
    margin: 0px;
}

.page-list {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.trash {
    all: unset;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    width: 18px;
    height: 22px; 
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#second-level {
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;    
    box-sizing: border-box;
    position: fixed;
    z-index: 99999;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    /* padding: 0px 10%; */
    display: flex;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}

#dialog-box {
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;    
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.95);
    width: 100%;
    height: 100%;
    opacity: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding: 5%;
    visibility: hidden;
    z-index: 10000;
}

.dialog-box h1 {
    margin-top: 0px;
    margin-bottom: 50px;
}

.password-admin {
    color: #339b87;
    font-weight: 600;
    width:100%;
    border-radius: 22px;
    padding: 5px 15px;
    background-color: rgba(0, 0, 0, 0.025);
    border: hidden;
    margin-right: 0px;
    margin-bottom: 0px;
    resize: none;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0px;
    height: 50px;
    font-size: 20px;
}

.trash-accept {
    all: unset;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    height: 50px;
    width: 40px;
    margin-left: 20px;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}

#preview-field {
    display: block;
    justify-content: center;
    visibility: hidden;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;    
    box-sizing: border-box;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
}

#author-info {
    width: 300px;
    justify-self: right;
}

.preview-button {
    -webkit-appearance: none;
    appearance: none;
    z-index: 9999;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}

#back-button {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
    width: 25px;
    height: 25px;
    margin: 15px;
    background-size: 25px;
    border: 0;
    background-color: transparent;
}

#photo-image {
    width: 100%;
    height: auto;
}

/* 30.05 */
.text-gray {
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 0px 40px;
    width: 100%;
    /* height: 300px; */
    color: white;
    font-style: italic;
    text-align: center;
}
.dialoge {
    margin-bottom: 60px;
    width: 100%;
    background-color: white;
    display: flex;
    /* flex-wrap: nowrap; */
    /* justify-content: space-between; */
    transition: all 0.5s;
    background-size: 0px;
    background-position: right;
    background-repeat: no-repeat;
}
.dialoge:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
}
.dialoge-text {
    padding: 30px 40px;
    font-size: 1.1em;
    width: 100%;
}

.dialoge-title {
    width: 100%;
    padding-bottom: 20px;
    font-size: 1.3em;
    font-weight: 600;
}

.author-name {
    width: 100%;
    text-align: center;
    font-size: 1.8em;
    font-weight: 700;
    padding: 0px 40px;
}