/* Анимация слайдера */
@keyframes loading {
    0% { left: 0%; }
    25% { left: -200px; }
    50% { left: -400px; }
    100% { left: 0%; }
}

@keyframes open {
    0% { top: 0%; }
    50% { top: 0% }
    100% { top: -100%; }
}

@-webkit-keyframes spaceboots {
	0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
	10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
	40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
	50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
	80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
	90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
	100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}

.shake {
	-webkit-animation-name: spaceboots;
	-webkit-animation-duration: 0.8s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}

#save-user-data {
    display: flex;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    color: white;
    border-radius: 16px;
    font-size: 18px;
    background-color: #339b87;
    border: 0;
    padding: 15px 10px 14px 20px;
    margin: 0px;
    margin-top: 8px;
    margin-bottom: 20px;
    font-weight: 500;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
}

#tumb-info {
    width: 100%;
    display: none;
    padding-top: 100px;
    padding-bottom: 50px;
    padding-left: 50px;
    background-size: 100% !important;
}

.ios_hover {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

html {
    height: 100%;
    background-size: 100%;
    background-color: #E8E8E8;
    scroll-behavior: smooth;
}

body {
    /* overflow: hidden; */
    display: grid;
    /* Высота / Широта */
    grid-template: 50px 300px 1fr min-content min-content 100px/ 70px 350px 1fr;
    margin: 0px;
    min-height: 100%;
    font-family: 'Montserrat','Roboto', sans-serif;
    /* overflow-y: hidden; */
}

header{
    grid-area: 1/1/2/4;
    height: 50px;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    list-style-type: none;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9998;
    background-color: rgba(255, 255, 255, 0.85);
}

nav {
    background-color: transparent;
    height: 50px;
    color: #339b87;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    list-style-type: none;
}

nav li {
    padding: 0px 12px;
    line-height: 46px;
    transition: all 0.25s;
}

nav li a {
    text-decoration: none;
}

nav img {
    padding: 9px;
    padding-left: 0px;
    padding-left: 12px;
}

nav li a {
    all: unset;
    cursor: pointer;
    display: block;
    background: transparent;
    text-align: center;
    font-size: 14.5px;
    height: 56px;
    width: 100%;
    font-weight: 500;
    color: #339b87 !important;
    font-family: Montserrat;
}

.user-label {
    height: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    width: 200px;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

nav li:hover  {
    cursor: pointer;
    border-bottom: 4px solid #339b87;
    background-color: rgba(0, 0, 0, 0.05);
}

nav .vr {
    height: 30px;
    width: 1.5px;
    background-color: black;
    opacity: 0.1;
    border: 0;
    border-radius: 2px;
    margin: 10px 0px;
    margin-right: 10px
}

#blur-header {
    grid-area: 1/1/2/4;
    height: 50px;
    width: 100%;
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    border-bottom: 0.5px solid #CECCCE;
    z-index: 9997;
}

.login-button {
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    vertical-align: middle;
    width: 72px;
    height: 21px;
    font-size: 13.5px;
    color: #fff;
    text-align: center;
    background: #339b87;
    border: 0;
    cursor: pointer;
    border-radius: 21px;
    font-weight: 400;
    margin-right: 32px;
    padding: 0px 12px;
}

.logout-button {
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    vertical-align: middle;
    /* width: 72px; */
    height: 21px;
    font-size: 13.5px;
    color: #fff;
    text-align: center;
    background: #339b87;
    border: 0;
    cursor: pointer;
    border-radius: 21px;
    font-weight: 400;
    margin-right: 16px;
    padding: 0px 12px;
}

nav .logo {
    width: 70px;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
}

nav .vr {
    height: 30px;
    width: 1.5px;
    background-color: black;
    opacity: 0.1;
    border: 0;
    border-radius: 2px;
    margin: 10px 0px;
    margin-right: 10px;
}

#left-nav {
    position: fixed;
    margin-top: 50px;
    margin-left: 70px;
    height: 100%;
    width: 0px;
    display: block;
    /* grid-area: 2/2/5/3; */
    background-color: #F5F5F5;
    border: solid 1px #DDDDDD;
    border-left: 0px;
    border-right: 0px;
    padding: 9px 0px;
    overflow: hidden;
    transition: all 0.5s;
    z-index: 9997;
}

#left-nav h2 {
    margin: 0px;
    margin-top: 12px;
    margin-bottom: 8px;
    text-transform: uppercase;
    font-size: 18px;
}

#left-nav ul {
    padding: 0px 12px;
}

#left-nav li {
    margin: 0px;
    margin: 8px;
    font-size: 18px;
    font-weight: 500;
    list-style: none;
}

#left-nav .hashtag {
    -webkit-appearance: none;
    appearance: none;
    all: unset;
    border: none;
    background: none;
    width: 288px;
    text-align: left;
    margin: 8px;
    margin-left: 16px;
    font-size: 18px;
    font-weight: normal;
    /* font-weight: 500; */
    list-style: circle;
    cursor: pointer;
}

article {
    display: -webkit-flex;
    grid-area: 3/2/4/4;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    background-color: #FFFFFE;
    /* border: solid 1px #DDDDDD; */
    border-top: 0px;
    height: 100%;
    padding: 0px 50px;
    display: none;
    align-content: baseline;
}

#tumb {
    grid-area: 1/2/3/4;
    margin: 0px;
    background: linear-gradient(rgba(255,255,255,0.0), rgba(255,255,255,1)), url(/images/backgrounds/Caumasee.jpg);
    background-size: 100%;
    display: flex;
    flex-wrap: nowrap;
    box-sizing: border-box;
    color: white;
}

#tumb img{
    height: 200px;
    width: 200px;
    object-fit: cover;
    margin-right: 30px;
    border-radius: 12px;
    /* border: solid 2px white; */
}

#tumb h1 {
    font-size: 32px;
    margin-top: 8px;
    margin-bottom: 0px;
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
}

#tumb p {
    box-shadow: 8px 9px 7px 0px rgb(0 0 0 / 10%);
    font-size: 15px;
    width: 100%;
    font-weight: 500;
    max-width: 560px;
    max-height: 100%;
    background-color: white;
    color: black;
    border-radius: 8px 8px 8px 2px;
    padding: 20px;
    white-space: pre;
    box-sizing: border-box;
    min-height: 100px;
}

#title {
    /* нач - высота/широта/ кон - высота/широта */
    width: 100%;
    height: 75px;
    background-color: white;
    padding: 4px 0px;
}

.title-items {
    width: 100%;
    height: 45px;
    font-weight: bold;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

#title h1 {
    margin: 0px;
    font-size: 28px;
    font-weight: 600;
    padding-top: 4px;
    font-family: Montserrat;
}

.title {
    /* нач - высота/широта/ кон - высота/широта */
    width: 100%;
    height: 75px;
    background-color: white;
    padding: 4px 0px;
}

.title h1 {
    margin: 0px;
    font-size: 28px;
    font-weight: 600;
    padding-top: 4px;
    font-family: Montserrat;
}

.title-icons {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin: 7.5px 6px;
    width: 70px;
}

#add-photo-button {
    all: unset;
    border: none;
    background-image: url(/images/trash_image.png);
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    width: 30px;
    height: 42px;
    cursor: pointer;
}

#user-folder-button {
    all: unset;
    border: none;
    background-image: url(/images/user_images.png);
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    width: 30px;
    height: 42px;
    cursor: pointer;
}

#more{
    display: flex;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    color: white;
    border-radius: 16px;
    font-size: 18px;
    background-color: #339b87;
    border: 0;
    padding: 15px 10px 14px 20px;
    margin: 0px;
    margin-bottom: 20px;
    font-weight: 500;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
}

footer {
    grid-area: 6/2/7/4;
    background-color: #ECECEC;
    border: solid 1px #DDDDDD;
    padding: 0px 50px;
    padding-top: 20px;
}

footer p {
    margin-top: 8px;
    color: #646464;
    font-size: 14px;
    font-weight: 500;
}

.footer-title {
    margin: 4px 0px;
    color: #646464;
    font-size: 18px;
    font-weight: 600;
}

hr {
    width: 100%;
    height: 1px;
    border: 0px;
    background-color: unset;
    border-top: 2px dashed #d5d5d5;
    margin: 5px 0px;

}


aside {
    height: 100%;
    position: -webkit-sticky;
    position: sticky;
    grid-area: 1/1/3/2;
    background-color: #ECECEC;
    top: 0px;
    padding-top: 69px;
}

aside .option {
    background-color: white;
    border-radius: 8px;
    width: 50px;
    height: 50px;
    margin: 10px;
    margin-top: 0px;
    margin-bottom: 19px;
    cursor:pointer;
}

#option-review {
    background-image: url(/images/image_icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 22px;


}

#option-favorite {
    background-image: url(/images/favorite_icon_nav.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 22px;
    filter: grayscale(100%);
}

#option-search {
    background-image: url(/images/search_icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
    filter: grayscale(100%);
}

#option-user {
    background-image: url(/images/user_icon_nav.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 22px;
    filter: grayscale(100%);
}

#option-add-photo {
    background-image: url(/images/add_icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 22px;
    filter: grayscale(100%);
}

#option-admin {
    background-image: url(/images/console.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 22px;
    filter: grayscale(100%);
}

.search {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    border-radius: 8px;
    border: solid 2px #DDDDDD;
    width: 100%;
    height: 36px;
    margin-top: 8px;
    margin-bottom: 4px;
    padding: 8px 12px;
    font-size: 18px;
    font-weight: 500;
    font-family: Montserrat;
}

#articles {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    -webkit-justify-content: center;
    justify-content: center; 
}

/* ================================================== */

.big-photo-block {
    background-color: white;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    min-width: 220px;
    max-width: 240px;
    margin: 15px 30px;
    margin-top: 0px;
    margin-bottom: 45px;
    height: -webkit-min-content;
    height: min-content;
    /* border: 0.5px solid #ceccce; */
    transition: all 0.5s;
}

.big-photo-block .header {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 100%;
    height: 32px;
}

.big-photo-block .header .name {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
    text-transform: uppercase;
    color: black;
    background-image: url("/images/image_icon.png");
    background-size: 24px;
    background-position: center left;
    background-repeat: no-repeat;
    padding-left: 34px;
}

.big-photo-block .header .add {
    border: none;
    all: unset;
    width: 24px;
    height: 24px;
    background-image: url("/images/favorite_icon.png");
    background-size: 24px;
    cursor: pointer;
}

.big-photo-block .header .remove {
    border: none;
    all: unset;
    width: 24px;
    height: 24px;
    background-image: url("/images/add_icon.png");
    background-size: 24px;
    transform: rotate(45deg);
    filter: hue-rotate(200deg);
    cursor: pointer;
}

.big-photo-block .image {
    background-image: url("/images/scale.jpg");
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    width: 100%;
    padding-top: 100%;
    background-size: cover !important;
    background-position: center !important;
    border-radius: 10px;
    margin-top: 12px;
    margin-bottom: 6px;
    transition: all 0.5s;
    cursor: pointer;
}

.big-photo-block .sublabel {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    height: 32px;
    width: 100%;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    color: #A6A6A6;
    background-image: url("/images/location_icon.png");
    background-size: 20px;
    background-position: center left;
    background-repeat: no-repeat;
    padding-left: 27px;
    padding-top: 1px;
}

.big-photo-block .sublabel .date {
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    color: #A6A6A6;
}

.big-photo-block .hashlabel {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: left;
    justify-content: left;
    width: 100%;
    margin: 6px 0px;
}

.big-photo-block .hashlabel .hashtag {
    -webkit-appearance: none;
    appearance: none;
    font-family: 'Anonymous Pro', monospace;
    height: 20px;
    padding: 2px 16px;
    padding-bottom: 4px;
    line-height: 20px;
    color: white;
    background-color: #304157;
    font-size: 18px;
    border-radius: 4px;
    margin-right: 12px;
    cursor: pointer;
}

.big-photo-block .bottom-label {
    font-family: Montserrat;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: left;
    justify-content: left;
    width: 100%;
    height: 32px;
    color: #A6A6A6;
    font-size: 14px;
    font-weight: 600;
}

.big-photo-block .bottom-label .author {
    text-transform: uppercase;
    color: #389B88;
    padding-left: 8px;
    text-align: right;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    cursor: pointer;
}

.big-photo-block .bottom-label .author .more {
    text-transform: lowercase;
    padding-left: 4px;
    color: #A6A6A6;
    font-size: 11.5px;
    font-weight: 500;
}

.big-photo-block a {
    width: 100%;
    height: 36px;
    margin-bottom: 8px;
}

.big-photo-block .see-more {
    background-color: #389B88;
    color: white;
    width: 100%;
    height: 36px;
    border-radius: 4px;
    border: 0px;
    font-size: 15px;
    font-weight: 500;
    font-family: Montserrat;
    margin-top: 6px;
    cursor: pointer;
}

#add-photo-area {
    grid-area: 4/2/5/4;
    /* width: 100%; */
    padding: 50px;
    display: none;
    padding-top: 20px;
    background-color: white;
}

.label {
    width: 168px;
    height: 168px;
    border-radius: 15px;
    border:2px dashed grey;
    display:block;
    padding:1.2em;
    transition:border 300ms ease;
    cursor:pointer;
    text-align:center;
    background-image:url(/images/add_image.png);
    background-size: 52px;
    opacity: 0.5;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 32px;
    z-index: 0;
}


.upload-title {
    padding: 0px 20px;
}

#upload-photo-input {
    outline:0;
    opacity:0;
    pointer-events:none;
    user-select:none;
    width: 100%;
}

#loading-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 10000;
    transition: all 1s;
    overflow: hidden;
    animation-fill-mode: forwards !important;
}

.process_msg {
    position: absolute;
    z-index: 10000;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

#load-area {
    position: relative;
    width: 200px;
    height: 300px;
    overflow: hidden;
}

#load-bar {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    width: 300%;
    height: 4px;
}

.line-load-bar {
    display: inline-block;
    position: inherit;
    width: 98px;
    /* height: 100%; */
    border-top: 4px solid #339b87;
    animation: 4s loading infinite;
    color: #339b87;
    margin-right: 4px;
}

#load-area .image {
    width: 200px;
    height: 160px;
    background-image: url(/images/logo.svg);
    background-size: 40%;
    background-position: center;
    background-repeat: no-repeat;
}

#user-page {
    grid-area: 5/2/6/4;
    background: white;
    padding: 20px 0px;
    display:none;
}

#user-page .preview {
    width: 100%;
    height: 300px;
    background-color: lightgray;
    background-size: 100% !important;
    background-position: center !important;
}

#user-page .title {
    padding: 0px 50px;
    box-sizing: border-box;
}

#user-page .content {
    padding: 0px 50px;
    box-sizing: border-box;
}

input[type=text] {
    width:100%;
    border-radius: 12px;
    margin-bottom: 12px;
    padding: 0px 16px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.025);
    border: hidden;
    resize: none;
    color: black;
    font-size: 16.8px;
    font-weight: 500;
    border: 1px solid gray;
    box-sizing: border-box;
    -webkit-appearance: none;
    appearance: none;
    margin-top: 10px;
}

input {
    width:100%;
    border-radius: 12px;
    margin-bottom: 24px;
    padding: 0px 16px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.025);
    border: hidden;
    resize: none;
    color: black;
    font-size: 16.8px;
    font-weight: 500;
    border: 1px solid gray;
    box-sizing: border-box;
    -webkit-appearance: none;
    appearance: none;
    margin-top: 10px;
}

input[type=submit] {
    width:100%;
    border-radius: 12px;
    padding: 5px 15px;
    height: 50px;
    background-color: #339b87;
    border: hidden;
    resize: none;
    color: white;
    font-size: 16.8px;
    font-weight: 700;
    margin-right: 0px;
    -webkit-appearance: none;
    appearance: none;
    color: #fff;
    text-align: center;
    background: #339b87;
    border: 0;
    cursor: pointer;
    margin-bottom: 15px;
}

#user-page label {
    font-weight: 600;
}

#search-area {
    display: none;
}

#search-area {
    width: 100%
}

#second-page {
    display: flex;
    position: fixed;
    box-sizing: border-box;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    z-index: 10000;
    transition: all 0.2s;
    overflow-y: scroll;
    animation-fill-mode: forwards !important;
    background-color: rgba(0, 0, 0, 0.7);
    visibility: hidden;
    opacity: 0;
    backdrop-filter: blur(8px);
}

#second-page .area {
    box-sizing: border-box;
    border-radius: 8px;
    margin: 10%;
    margin-bottom: 0;
    width: 100%;
    height: 100%;
    background-color: white;
}

#second-page label {
    font-weight: 500;
}

#search-area .hashtags {
    font-family: 'Rubik', sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

#search-area .hashtags input{
    background: transparent;
    font-weight: 500;
    color: gray;
    font-size: 15px;
    width: min-content;
    padding: 0px;
    margin: 0px 10px;
    height: 32px;
}

#second-user-image {
    height: 370px;
}

.second-user-image-area {
    width: 370px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    border-radius: 8px 0px 0px 8px;
}

.preview-image {
    height: 100%;
    object-fit: cover;
    margin: auto;
    border-radius: 8px;
}

.preview-mode {
    margin: 5% 0px 5% 0px !important;
    height: unset !important;
    background-color: unset !important;
}

.process-msg {
    background-color: white;
    grid-area: 1/1/5/6;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}

#article-table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#article-table td, #article-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

#article-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #339b87;
    color: white;
    font-size: 16px;
    padding: 15px;
    font-family: 'Montserrat';
    font-weight: 500;
    text-transform: uppercase;
}

#article-table tr:nth-child(even){background-color: #f2f2f2;}

#article-table tr:hover {background-color: #ddd;}

@media screen and (min-width: 769px) {
    ::-webkit-scrollbar {
        background-color: #fff;
        width: 12px;
    }
    
    /* background of the scrollbar except button or resizer */
    ::-webkit-scrollbar-track {
        background-color: #fff;
    }
    
    /* scrollbar itself */
    ::-webkit-scrollbar-thumb {
        background-color: #babac0;
        border-radius: 16px;
        border: 4px solid #fff;
    }
    
    /* set button(top and bottom of the scrollbar) */
    ::-webkit-scrollbar-button {
        display:none;
    }
}

#message-box {
    right: 0;
    top: 0;
    position: fixed;
    z-index: 10001;
    width: 400px;
    height: 50px;
    margin: 20px;
    margin-top: 70px;
    border-radius: 10px;
    border: 2px solid
    lightgray;
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.2);
    opacity: 0;
    transition: all 0.25s;
    padding: 15px 25px;
    padding-left: 50px;
    box-sizing: border-box;
    font-family: Rubik;
    display: flex;
    align-items: center;
    background-position: 12px 12px !important;
    background-size: 26px !important;
    background-repeat: no-repeat !important;
    pointer-events: none;
}